table
{
	border: 1px solid black;
	border-collapse: collapse;
	font-family: Arial;
	font-size: 14px;
	
}
th, td
{
	border-left: 1px solid #c5c3ab;
	margin: 5px;
	padding: 5px 35px 5px 5px;

}
td:first-child, th:first-child
{
	border-left: none;
}
th
{
	background: #5ec305; /* Old browsers */
	background: -moz-linear-gradient(top,  #5ec305 0%, #56b906 53%, #52b405 63%, #53b506 76%, #4fb106 92%, #50b406 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ec305), color-stop(53%,#56b906), color-stop(63%,#52b405), color-stop(76%,#53b506), color-stop(92%,#4fb106), color-stop(100%,#50b406)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5ec305 0%,#56b906 53%,#52b405 63%,#53b506 76%,#4fb106 92%,#50b406 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5ec305 0%,#56b906 53%,#52b405 63%,#53b506 76%,#4fb106 92%,#50b406 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5ec305 0%,#56b906 53%,#52b405 63%,#53b506 76%,#4fb106 92%,#50b406 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5ec305 0%,#56b906 53%,#52b405 63%,#53b506 76%,#4fb106 92%,#50b406 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ec305', endColorstr='#50b406',GradientType=0 ); /* IE6-9 */
	color: #fff;
	font-weight: normal;
	text-align: left;
	border-bottom: 1px solid black;
}
tr:nth-child(2n)
{
	background-color: #ececd8;
}